@page "/Index"
<h3>Index</h3>
@rendermode InteractiveServer
@inherits IndexBase

<div>
	<button @onclick="ChangeText" class="@ChangeColor">@Text</button>
</div>


<div>
    <p>One of my Binding : @Name</p>
	<p> Two Way Binding </p>
	<input type="text" @bind="@Name"/>


</div>

